/* reset */
$base-bg: #fff; 
$base-font-size: 62.5%; 
$base-line-height: 1; 
$custom-font-family: 'Montserrat', sans-serif; 
$logo-font-family: 'Montserrat', sans-serif; 
$link-color: #fff;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #fff;
$text-color2: #484848;
$text-color3: #9b9b9b;
$text-color4: #ff4b64;
$text-color5: #e6e6e6;
$text-color6: #818181;
$text-color7: #9a9a9a;
$title-color: #fff;
$title-color2: #484848;
$title-font-family: $custom-font-family;

$font-size-h1: 7.2rem;
$line-height-h1: 110px;
$font-size-h2: 3rem;
$line-height-h2: 50px;
$font-size-h3: 1.6rem;
$line-height-h3: 20px;

$bg-color: #ff4b64;
$bg-color2: #fff;
$bg-color3: #e6e6e6;
$bg-color4: #1f2337;
